.bifrost-widget {
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  max-width: 100%;
  overflow: hidden;
}

button.wrapper {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}
